DATABASE_URL=
JWT_KEY=...
JWT_ISSUER=LinksyAPI
JWT_AUDIENCE=LinksyClient
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7

EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USERNAME=...
EMAIL_SMTP_PASSWORD=...
EMAIL_FROM_EMAIL=...
EMAIL_FROM_NAME=Linksy Chat

CLOUDINARY_CLOUD_NAME=...
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...

REDIS_ENABLED=true
REDIS_CONNECTION_STRING=localhost:6379
REDIS_INSTANCE_NAME=linksy:
REDIS_DEFAULT_EXPIRY=300